:root {
  --purple: #efabff;
  --green: #9dbf9e;
  --blue: #56cbf9;
  --black: #1a3a3a;
  --orange: #ff934f;

  --transTimer: 0.3s;
  --shadow: solid 2px;
  --longShadow: solid 5px;
  --opoPurple: #fff7ab;
  --opoGreen: #bf9d9d;
  --opoBlue: #f98a56;

  --opoOrange: #4f9eff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all var(--transTimer);
}
