.reviewAppContainer {
  width: 100%;
  padding: 30px;
  background-color: #1446a0;
}

.reviewContainer {
  width: 70%;
  max-width: 600px;
  background-color: #f5d547;
  display: block;
  margin: auto;

  border-radius: 10px;
}

.reviewImg {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  display: block;
  margin: 1.5rem auto;
  border-radius: 50%;
  position: relative;
}

.reviewImgContainer {
  position: relative;
}

.reviewImgContainer::before {
  content: "";
  width: 13rem;
  height: 13rem;
  background: #db3069;
  border-radius: 50%;
}

.reviewFlex {
  display: flex;
  flex-direction: column;
}

.reviewQuoteIcon {
  position: absolute;
  top: 1rem;
  left: 21rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #1446a0;
  padding: 10px;
  border-radius: 50%;
  color: #f5d547;
}

.reviewInfoContainer {
  text-align: center;
}

.reviewInfoContainer h2 {
  display: block;
  color: #f5d547;
  text-transform: uppercase;
  margin: 20px auto;
  padding: 10px;
  background-color: #1446a0;
  width: 50%;
  border-radius: 10px;
}

.reviewInfoContainer h3 {
  text-transform: capitalize;
}

.reviewInfoContainer article {
  width: 80%;
  font-size: 1.2rem;
  display: block;
  margin: 15px auto;
  color: black;
  font-weight: 600;
  line-height: 2rem;
  background-color: #db3069;
  border-radius: 10px;
  padding: 10px;
}

.reviewNavBtn .left,
.reviewNavBtn .right {
  width: 3rem;
  height: 3rem;
  margin: 20px;
  cursor: pointer;
}

.randomReviewBtn {
  padding: 10px 20px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #db3069;
  width: 200px;
  font-size: 1.5rem;
}
